.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}

.header__logo {
    margin-right: 93px;
}

.logo--dark {
    color: black;
}

.logo--light {
    color: #ffff;
}
