:root {
    /*Fonts */
    --main-font: "Raleway", sans-serif;
    --secodary-font: "Roboto", sans-serif;

    /* Text colors */
    --main-txt-color: #212121;
    --accent-txt-color: #2196f3;
    --secondary-txt-color: #757575;
    --light-txt-color: #ffffff;

    /* Background colos */
    --main-bg-color: #ffffff;
    --grey-bg-color: #f5f4fa;
    --dark-bg-color: #2f303a;

    /* Other */
    --hover-focus-color: #188ce8;
}